body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    background-color: #886b6b;
}

header {
    background-color: #6d3232;
    color: rgb(134, 153, 29);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.logo {
    display: block; 
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px 0;
}

.nav-menu {
    list-style: none; 
    margin: 0;
    padding: 0;
}

.nav-menu li {
    display: inline;
    padding: 10px 15px;
    margin-right: 2px;
    background-color: #37c74f50;
    transition: background-color 0.3s;
}

.nav-menu li:hover {
    background-color: #6b4b7436;
}

.nav-menu li a {
    display: inline; 
    text-decoration: none;
    color: rgba(92, 145, 24, 0.911);
    font-weight: bold;
}

.inline-demo {
    display: inline;
    padding: 0; 
    margin: 0; 
    background-color: transparent;
    border: 1px solid rgb(29, 123, 247); 
}

.clearfix {
    clear: both; 
    height: 0;
}

.content {
    padding: 20px;
}