body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    padding: 30px;
}

.card {
    background: white;
    width: 260px;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 170px;
    object-fit: contain;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.card p {
    color: #555;
    font-size: 14px;
    margin: 10px 0;
}

.price {
    color: green;
    font-size: 20px;
    font-weight: bold;
}

.btn {
    margin-top: 10px;
    padding: 10px 25px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}